<form action="<%= post_comments_path(post) %>" method="post">
  <input name="authenticity_token" type="hidden">

  <textarea name="comment[content]" rows="5" cols="20"></textarea>

  <input type="submit" value="Опубликовать комменатрий">
</form>
